:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.3rem;
  font-weight: 600;
}

body {
  background-color: #0a0a0a;
  color: #e7e7e7;
  margin: 20px;
  padding: 10px;
}

p {
  font-size: 18px;
  line-height: 1.7rem;
}

.certification-link {
  color: #40c4ff;
}

.link-buttons {
  margin: 4px;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
  color: #0f1111;
}

.link-buttons:hover {
  border: 2px solid #ef6c00;
}

img {
  border: 3px solid #fff;
  border-radius: 20px;
}
